/* .login-form-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
} */

.container {
  height: 100%;
  /* padding-top: 20px; */
}

/* .card {
  min-width: 80%;
} */

/* body {
  min-height: 80%;
} */

.spacer {
  flex: 1 1 auto;
}

/* html, 
body {
    height: 100%;
} */

/* .button-flex-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
} */